button {
  all: unset;
  width: 100% !important;
  height: 100% !important;
  background-color: var(--red);
  border-radius: 5px;
  color: var(--white);
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 2px solid transparent;
  transition: all 0.3s;
}

button:hover {
  border-color: var(--red);
  background-color: transparent;
  color: var(--red);
}
